@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.result-container {
  margin-top: $spacing-20px;
  padding: $spacing-20px;
  background: rgba($primary-color, 0.1);
  border-radius: $border-radius;
  border-left: 4px solid $primary-color;
}
