@use '../../../../style/variables' as *;

.word-list-state {
  text-align: center;
  padding: 2rem 1rem;

  &.loading {
    color: #666;
    font-style: italic;
  }

  &.empty {
    color: #888;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }
}
